<ion-content>
	<div class="logo">
		<img src="assets/icon/logo.png" alt="Ionic logo">
    <ion-fab top right>
        <button ion-fab block (click)="signup()" color="favorite" ><ion-icon name="person-add"></ion-icon></button>
    </ion-fab>
	</div>

<form class="formulario" [formGroup]="myForm" (ngSubmit)="submitForm(myForm.value)" novalidate>
    <h2>Iniciar Sesión</h2>
<ion-list no-lines>
      			 <ion-item>
               <ion-icon name="person" item-left></ion-icon>
      				 <ion-label floating color="primary">Correo Institucional</ion-label>
      				 <ion-input  formControlName="email" name="correo" value="" type="email" spellcheck="false" autocapitalize="off">
               </ion-input>
             </ion-item>

              <ion-item *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
               <p color="danger" ion-text *ngIf="myForm.get('email').hasError('required')">Ingresa Tu Correo Universitario</p>
							 <p color="danger" ion-text *ngIf="myForm.get('email').hasError('email')">Por favor, ingresa Un Correo Valido</p>
              </ion-item>

      			<ion-item>
              <ion-icon name="key" item-left></ion-icon>
      				<ion-label floating color="primary">Contraseña</ion-label>
      				<ion-input formControlName="password"  type="password" name="password" value="" spellcheck="false" autocapitalize="off">
      				</ion-input>
      			</ion-item>

            <ion-item *ngIf="myForm.get('password').errors && myForm.get('password').dirty">
      			   <p color="danger" ion-text *ngIf="myForm.get('password').hasError('required')">Ingresa una Contraseña</p>
          </ion-item>


            <ion-grid>
                <ion-row justify-content-center >
                  <button class="entrar" ion-button full color="primary" type="submit" [disabled]="myForm.invalid" block (click)="login()">ENTRAR</button>
                  <a ion-button block clear (click)="goToResetPassword()">
                   ¿Olvidaste Tu Contraseña?
                  </a>
                </ion-row>
            </ion-grid>
</ion-list>
</form>
</ion-content>
