page-login{

ion-content[scroll="false"] {
  scroll-content {
    overflow-y: hidden!important;
  }
}
.fondo{
  background-color:#13647A;
  background-size: 100% 100%; 
} 
 ion-label{ color: #ffffff;
 :active{
   color: #ffffff;
 }
  }
.lab{
  color:#ffffff;
}
.cabezera{
 text-align: center;
 margin-bottom: 10%;
img{
  width: 70%;
 margin-left: 10%;
 margin-right:10%;
  margin-top: 20%;
  display: fixed;
  justify-content: center;
}
}
.formulario{
ion-list{
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 20%;
}  
ion-icon{
      font-size: 2em;
      margin-top: auto;
      margin-bottom: auto;
  }
}


p{
  text-align: center;
color: #ffffff;
margin-top: 2%;
margin-bottom:2%;
}
a{
  text-align: center;
  font-size: 1rem;
color: #ffffff;
margin-top: 2%;
margin-bottom:2%;
}
.error-box {
    color: red;
    margin-left: 7%;
	}
	.error-border {
		color: red;
  }

  .logo {
    text-align: center;
    width: 100%;
    background-color: #000000;
    border-radius: 0px;
    margin-top: 0px;
    ion-fab{
        margin-top: 135px;
        margin-left: 100px;
        margin-right: 20px;
    }
    img {
      width: 150px;
    }
    }

ion-navbar{
  text-align: center;
}
.olvidar{
  font-size: 1.3rem; 
   text-transform: none;
}
.cuenta{
  font-size: 1.2rem;
  margin-bottom: 20%;
  text-transform: none;
}
.border{
color: #ffffff;
border-block-start: #ffffff;
 

}
.entrar {
  width: 90%;
}
  .list {
    margin-bottom: 0;
  }
  h2{
    text-align: center;
}

}