<ion-content class="fondo"  disabled-scroll>
	<div class="cabezera">
    <img src="assets/icon/logo_pasajero.png">
  </div>

<form class="formulario" [formGroup]="myForm" (ngSubmit)="submitForm(myForm.value)" novalidate>
<ion-list no-lines>
      			 <ion-item color="fondo">
               
               <ion-label class="lab" floating color="white">Correo Universitario</ion-label>
                <ion-icon name="contact" item-left color="white"></ion-icon>
      				 <ion-input class="borde"  formControlName="email" name="correo" value="" type="email" spellcheck="false" autocapitalize="off" color="white">
               </ion-input>
             </ion-item>

              <ion-item *ngIf="myForm.get('email').errors && myForm.get('email').dirty" color="fondo">
               <p color="white" ion-text *ngIf="myForm.get('email').hasError('required')">Usuario Incorrecto</p>
							 <p color="white" ion-text *ngIf="myForm.get('email').hasError('email')">Por favor, ingresa una cuenta valida</p>
              </ion-item>

      			<ion-item color="fondo">
              <ion-icon name="lock" item-left color="white"></ion-icon>
      				<ion-label floating color="white">Contraseña</ion-label>
      				<ion-input  class="borde" formControlName="password"  type="password" name="password" value="" spellcheck="false" autocapitalize="off" color="white">
      				</ion-input>
      			</ion-item>

            <ion-item *ngIf="myForm.get('password').errors && myForm.get('password').dirty" color="fondo">
      			   <p color="white" ion-text *ngIf="myForm.get('password').hasError('required')">Ingresa una Contraseña</p>
          </ion-item>
          <ion-row justify-content-center >
                  <a class="olvidar" ion-button block clear (click)="goToResetPassword()" color="white">
                   ¿Olvidaste Tu Contraseña?
                  </a>
                 <button class="entrar" ion-button  color="green" type="submit" [disabled]="myForm.invalid" block (click)="login()">INGRESAR</button>  
          </ion-row>
             <ion-row>   
                    <a class="cuenta" ion-button block clear (click)="signup()" color="white">
                          <p> ¿Aun no tienes cuenta?</p> Registrate
                    </a>
            </ion-row>
</ion-list>

           
           
</form>

            
</ion-content>
