page-registrov{


.error-box {
    color: red;
    margin-left: 7%;
	}
	
	.error-border {
		color: red;
  }
 ion-label{
   color: #000000;
 }
  .viajes{


  button{
 border-radius: 13%;
 width: 26%;
 margin-right: 25%;
 margin-left: 40%;
  }
}
}

