<ion-content>

	<div class="logo">
		<img src="assets/icon/logo.png" alt="Ionic logo">
		<ion-fab left>
				<button ion-fab mini block (click)="signup()" color="primary" ><ion-icon name="arrow-back"></ion-icon></button>
		</ion-fab>
	</div>

  <form class="formulario" [formGroup]="myForm" (ngSubmit)="submitForm(myForm.value)" novalidate>
			<h3>¿Cúal es tu número?</h3>
  <ion-list no-lines>
        			 <ion-item>
                 <ion-icon name="phone-portrait" item-left></ion-icon>
        				 <ion-label floating color="primary">Número de Teléfono </ion-label>
        				 <ion-input  formControlName="cel" type="number" name="movil" value=""  spellcheck="false" autocapitalize="off">
                 </ion-input>
               </ion-item>

                <ion-item *ngIf="myForm.get('cel').errors && myForm.get('cel').dirty">
                 <p color="danger" ion-text *ngIf="myForm.get('cel').hasError('required')">Ingresa Tu Número Celular</p>
                 <p color="danger" ion-text *ngIf="myForm.get('cel').hasError('minlength')">Minimo Numeros de 10 Digitos</p>
								</ion-item>
                <p>Al Registrarte.<br>Aceptas las Condiciones de servicio y Politica de Privacidad.</p>
             <br><ion-fab right>
                    <button  ion-fab  block full color="favorite" type="submit" [disabled]="myForm.invalid" block (click)="login()">
                    <ion-icon name="arrow-forward" item-start></ion-icon>
                    </button>
            </ion-fab>
  </ion-list>
  </form>
  </ion-content>
