page-resetpass{

.formulario{
ion-icon{
      font-size: 1em;
      margin-top: auto;
      margin-bottom: auto;
  }
}


p{
  text-align: center;
}

.error-box {
    color: red;
    margin-left: 7%;
	}
	.error-border {
		color: red;
  }

  .logo {
    text-align: center;
    width: 100%;
    background-color: #000000;
    border-radius: 0px;
    margin-top: 0px;
    ion-fab{
        margin-top: 135px;
        margin-left: 100px;
        margin-right: 20px;
    }
    img {
      width: 150px;
    }
    }

ion-navbar{
  text-align: center;
}

.entrar {
  width: 60%;
 color: #009dd6;
}
  .list {
    margin-bottom: 0;
  }
  h2{
    text-align: center;
}

}
