

<!--  cabezote -->
<ion-header>
  <ion-navbar color="primary" >
    <button  ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mi Cupo</ion-title>
  </ion-navbar>
</ion-header>
 <!--Buscador -->
   <ion-content padding>
     <p>Ingresa tu Destino</p>

    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
 
    <div *ngIf="searching" class="spinner-container" >
        <ion-spinner></ion-spinner>
    </div>

<ion-card>
  <ion-card-header>
    <p>Rutas Disponibles</p>
  </ion-card-header>

  <ion-list>
    <button ion-item *ngFor="let item of items" block (click)="login()">
      <ion-icon name="car" item-start></ion-icon>
     {{item.title}}
    </button>
  </ion-list>
  </ion-card>

</ion-content>
<!--

  -->