page-registro4 {
  
   .izquierda{

font-size: 2em;
margin-left: 10%;
margin-top: 10%; 
  }

  .fondo{
    padding-top: 10%;
    
background-color: #13647A;
background-size: 100% 100%;
}

h2{
     font-size: 1.7rem;
     color: #ffffff;
      text-align: center;
}
  .formulario{
    margin-top: 15%;
    text-align: center;
  ion-icon{
        font-size: 15em;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    }
  p{
         margin-top: 1.5rem;
          text-align: center;
          font-size: 1.5rem;
  }
          .texto{
    font-size: 1.2rem;
    text-align: center;
  }
  .icono{
    font-size: 3rem;
  }
  }


  .error-box {
      color: red;
      margin-left: 7%;
  	}
  	.error-border {
  		color: red;
    }
    
.entrar {
    width: 65%;
    border-radius: 4%;
  }
    .list {
      margin-bottom: 0;
    }
    
  }