<ion-content>
      <div class="logo">
          <div class="">
                <ion-fab left>
                  <button ion-fab mini block (click)="signup()" color="fondo" ><ion-icon name="arrow-back"></ion-icon></button>
                </ion-fab>
                <h3>REGISTRO</h3>
          </div>
      </div>
<form class="formulario" [formGroup]="myForm" (ngSubmit)="submitForm(myForm.value)" novalidate>
    <p>Información Adicional</p>
    <p class="texto">Tu correo electronico es vital para verfificar tu <br>pertenencia a la institución.<br>
    la foto del carnet debe ser clara y legible</p>
<ion-list no-lines>
    
  <ion-list>
			<ion-item>
        <ion-icon name="school" item-left></ion-icon>
					<ion-label>Universidad</ion-label>
				<ion-select formControlName="uni">
					<ion-option value="utp">UTP</ion-option>
					<ion-option value="universidad catolica">Universidad Catolica</ion-option>
          <ion-option value="universidad libre">Universidad Libre</ion-option>
				</ion-select>
			</ion-item>
    </ion-list>	
              
      <ion-list>
			<ion-item>
        <ion-icon name="people" item-left></ion-icon>
					<ion-label>Cargo</ion-label>
				<ion-select formControlName="cargo">
					<ion-option value="estudiante">Estudiante</ion-option>
					<ion-option value="docente">Docente</ion-option>
          <ion-option value="administrativo">Administrativo</ion-option>
				</ion-select>
			</ion-item>
    </ion-list>
    
             <ion-item>
               <ion-icon name="mail" item-left></ion-icon>
      				 <ion-label floating color="primary">Tu Correo Institucional</ion-label>
      				 <ion-input  formControlName="email" name="correo" value="" type="email" spellcheck="false" autocapitalize="off">
               </ion-input>
             </ion-item>

              <ion-item *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('email').hasError('required')">Ingresa Tu Correo Universitario</p>
              <p color="danger" ion-text *ngIf="myForm.get('email').hasError('email')">Ingresa Un Correo Valido</p>
               </ion-item> 
            
    <ion-list>
      <ion-item *ngIf="imgPreview">
            <img [src]="imgPreview">
      </ion-item>
    </ion-list>
   
    
    <br> <ion-row justify-content-center >
    <button class="entrar" ion-button block icon-left (click)="camara()"  color="danger" [disabled]="myForm.invalid">
      <ion-icon class="icono" name="camera"></ion-icon>
      FOTO DEL CARNÉT
    </button>  <br>
    
    <button class="entrar" ion-button  color="fondo" type="submit" [disabled]="myForm.invalid" block (click)="login()">SIGUIENTE</button>  
  </ion-row>

</ion-list>
</form>
</ion-content>
