<ion-content>

	<div class="logo">
		<img src="assets/icon/logo.png" alt="Ionic logo">
		<ion-fab left>
				<button ion-fab mini block (click)="signup()" color="primary" ><ion-icon name="close"></ion-icon></button>
		</ion-fab>
	</div>

  <form class="formulario" [formGroup]="myForm" (ngSubmit)="submitForm(myForm.value)" novalidate>
			<h3>Necesitáras una contraseña</h3>
<ion-list formGroupName="passwordRetry" no-lines >

        <ion-item>
          <ion-icon name="eye" item-left></ion-icon>
          <ion-label floating>Contraseña:</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
<!--
      <ion-item *ngIf="myForm.get('password').errors && myForm.get('password').dirty">
      <p color="danger" ion-text *ngIf="myForm.get('password').hasError('pattern')">It is not a strong password</p>
    </ion-item>
-->
        <ion-item>
          <ion-icon name="eye" item-left></ion-icon>
          <ion-label floating>Confirmar contraseña:</ion-label>
          <ion-input formControlName="passwordConfirmation" type="password"></ion-input>
        </ion-item>

             <br><ion-fab right>
                    <button  ion-fab  block full color="favorite" type="submit" [disabled]="myForm.invalid" block (click)="login()">
                    <ion-icon name="arrow-forward" item-start></ion-icon>
                    </button>
            </ion-fab>
  </ion-list>
  </form>
  </ion-content>
