page-password {

    
ion-card-header {
    background: #000000;
   
    height: 120px;
    margin-top: 3px;
   
    margin-bottom: 3px;
    }
.formulario{
    
    background: rgba(232,230,230,0.1px);
    width: 100%;
    height: 80%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 0px;
    margin-top: 50%;
  position: relative;
  text-align: left;
  p{
         margin-top: 2%;
          text-align: center; 
          font-size: 1rem;

  }
.titulo {
     margin-top: 2%;
          text-align: center; 
          font-size: 1.5rem;
}
 
h2{
    text-align: center;
}
ion-icon{
    font-size: 1em;
}
ion-label{
 width: 55%;
 position: relative;    
}
}
.boton{
    margin-left: 15%;
    margin-right: 10%;
    padding: 0.7rem;
    margin-bottom: 20px;
}





.cabezera img{
width: 100px;
    height: 100px;
    
    margin-right: 15px;
    margin-left: 15px;

    margin-bottom: 250px;
   position:relative;
}
.background{
    width: 100%;
    height: 100%;
      background: #ffffff;
}
ion-fab{
    margin-top: 85px;
    margin-left: 100px;
    margin-right: 25px;
    ;
    
}
ion-header{
    background: #373737;
     width: 100%;
     height: 17%;
 
}



.scroll-content{
text-align: center;
}
ion-card.card{
    background: rgba(232,230,230,0.1px);
    border-radius: 10px;
}
.item{
    background:  rgba(232,230,230,0px);
 
}
ion-input{
    
}


    
}


